@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
* {
    font-family: 'KIMM_Bold';
}
body {
    margin: 15% 15px;
}
:root {
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 14px;
    --font-micro: 12px;

    --color-myskyblue: rgb(172, 214, 240);
    --color-mynavy: rgb(2, 57, 91);
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
#mypage__top{
    width: 100%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}

#mypage__top__title{
    margin-bottom: 30px;
}
#Menu__container{
    width: 100%;
}
#icon__x__button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 50px;
    top: 60px;

}

#mypage__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 40px;
}
#mypage__profile > p > b{
    color: var(--color-mynavy);
}

/* 내정보 수정 */
.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.icon {
    margin-right: 10px;
}
.title {
    text-align: left;
}

.title p {
    margin: 0;
}


#myInfo__text__container  p {
    margin-bottom: 10px;
    margin-left: 10px;
    
}

#myInfo__text__container  .input {
    margin-left: 10px;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background-color: var(--color-myskyblue);
    color: black;
}

#button__container {
    display: flex; /* 컨테이너를 플렉스 박스로 설정 */
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
#button__container > .myInfo__button{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    font-size: var(--font-regular);
}
#myInfo__button1 { background-color: white; }
#myInfo__button3 { background-color: gray; }
#myInfo__button2 { background-color: lightblue; }


h3 {
    font-size: var(--font-medium) ;
}
#hello__user { font-size: var(--font-regular);}

.menu__title{
    font-size: var(--font-regular);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#footer__logout {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

.title__container{
    margin-bottom: 40px;
}
